/* sites/fooldal.php */
br {
    display: block;
    margin: 10px 0;
}
.content-container {
    overflow: hidden; /* Biztosítja, hogy a tartalom ne törje meg az elrendezést */
}
/* Body teljes magasságába rakása */
html, body {
    height: 100%;
    margin: 0;
}

/* Flexbox elrendezés a testhez */
body {
    display: flex;
    flex-direction: column;
}

/* Tartalom növekedéshez szükséges */
.main-content {
    flex-grow: 1;
}

/* Biztosítja, hogy a lábléc alul legyen */
footer {
    margin-top: auto;
}
.content-container img {
    float: right;
    margin-left: 20px; /* Szóközt ad a kép és a szöveg közé */
    max-width: 40%; /* Szükség esetén állítsa be a képméretet */
    height: auto; /* Képarány megtartása */
}

.content-container p {
    text-align: justify;
}
.logo
{
    display: block;
    max-width: 25%;
    height: auto;
}

.logo
{
    max-height: 25%;
}
/* fooldal.php kesek */
.brand-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.brand-section {
    background-color: white;
}
.brand-info {
    max-width: 70%;
}
.brand-logo {
    max-width: 20%;
    display: flex;
    justify-content: center;
}
.brand-logo img {
    height:auto;
    max-width: 100%;
    object-fit: contain;
}
.brand-header
{
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}
/* fooldal.php gombok */
.info-card {
    background-color: #a0a0a0; /* Világosszürke háttér */
    color: white; /* Szöveg színe */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.info-card h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-outline-light {
    border: 2px solid white;
    font-weight: bold;
}
/* Általános carousel stílusok */
.carousel {
    width: 100%; /* Tartsa be a maximális szélességet nagyobb képernyők esetén */
    height: auto; /* A magasság dinamikus beállításának engedélyezése */
    margin: 0 auto;
}

.carousel-inner {
    width: 100%;
    margin: 0 auto;
}

.carousel-item img {
    width: 100%; /* A kép átnyúlik a szélességben */
    height: auto; /* Hagyja a magasságot természetesen beállítani */
    object-fit: cover; /* A képarány megtartása és a terület lefedése */
}

/* A kép beállítása a fekvő tájoláshoz */
@media screen and (orientation: landscape) {
    .carousel img {
        height: 100vh;
    }
}

/* Reszponzív beállítások kisebb képernyőkhöz */
@media screen and (max-width: 768px) {
    .carousel-caption {
        padding: 5px; /* Csökkentse a párnázást a kisebb képernyőknél */
        background: rgba(0, 0, 0, 0.4); /* Kissé világosabb háttér a jobb olvashatóság érdekében */
    }

    .carousel-caption h2,
    .carousel-caption h6,
    .carousel-caption p {
        font-size: 1rem; /* Szövegméret módosítása */
        padding: 5px;/* Kisebb párnázás */
        margin: 3px 0;/* Az elemek közötti távolság csökkentése */
    }
}

/* További beállítások nagyon kicsi telefonokhoz (pl. 320 képpont széles) */
@media screen and (max-width: 480px) {
    .carousel-caption {
        padding: 3px; /* Minimális párnázás */
        background: rgba(0, 0, 0, 0.3); /* Még világosabb háttér a kompakt nézetért */
    }

    .carousel-caption h2 {
        font-size: 1.25rem; /* Kisebb címméret */
    }

    .carousel-caption p {
        font-size: 0.9rem; /* Kisebb bekezdésméret */
    }

    .carousel-item img {
        object-fit: contain; /* Kerülje a túlzott körbevágást nagyon kis képernyőkön */
    }
}

/* Kezelje a karusszel méretezést nagyon keskeny képernyők esetén */
@media screen and (max-width: 320px) {
    #carouselExampleCaptions {
        max-width: 100%; /* Eltávolitani a maximális szélesség korlátozását */
    }

    .carousel-caption {
        padding: 2px;
    }

    .carousel-caption h2,
    .carousel-caption h6,
    .carousel-caption p {
        font-size: 0.8rem; /* Még kisebb szöveg */
    }
}
.col-md-4 img {
    width: 100%; /* Az oszlop teljes szélessége */
    height: 300px; /* Kívánt magasság */
    object-fit: cover; /* A kép méretezése és körbevágása */
}
.info-card-facebook
{
    background-color: #1877F2;
}
.info-card-community
{
    background-color: #3c5a9a;
}
#kesportal-forum
{
    color:#ea8235;
    text-decoration: none;
}
.video-container {
    max-width: 100%;
    width: 640px;
    aspect-ratio: 16 / 9;
    cursor: pointer;
    border: 1px solid #ddd;
    display: inline-block;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}